.number-selection {
  border: 2px #0d6efd solid;
  border-radius: 2px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 12.5em;
  
  
  .clickable {
    border: 1px black solid;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: #0d6efd;
      color: white;
      cursor: pointer;
    }
  }

  .number-selection-number {
    width: 4em;
  }
  .number-selection-clear {
    width: 300%;
  }
}