.regular-board-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 2px black solid;
  height: fit-content;
  width: fit-content;
  align-items: center;
  justify-content: center;
}
