.square {
  margin: 0;
  padding: 0;
  border: 1px lightgray dotted;
  display: flex;
  align-items: center;
  justify-content: center;


  &.unchangeable {
    font-weight: bold;
  }
  &.changeable {
    color: green;
  }
  &.conflict {
    color: red;
  }
  &.zero {
    color: white;
  }

  &.selected {
    background-color: lightblue;
  }
}