.sudoku-board-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 2px black solid;
  height: fit-content;
  width: fit-content;
  align-items: center;
  justify-content: center;
  
  // This gives me thin, dark diagonal lines across the board
  // Not exactly what I want, but leaving for reference
  // &.diagonal {
  //   background: 
  //   linear-gradient(to top left,
  //     rgba(0,0,0,0) 0%,
  //     rgba(0,0,0,0) calc(50% - 0.8px),
  //     rgba(0,0,0,1) 50%,
  //     rgba(0,0,0,0) calc(50% + 0.8px),
  //     rgba(0,0,0,0) 100%),
  //   linear-gradient(to top right,
  //     rgba(0,0,0,0) 0%,
  //     rgba(0,0,0,0) calc(50% - 0.8px),
  //     rgba(0,0,0,1) 50%,
  //     rgba(0,0,0,0) calc(50% + 0.8px),
  //     rgba(0,0,0,0) 100%);
  // }
}
